@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root{
--Dark-Blue: hsl(233, 26%, 24%);
--Lime-Green: hsl(136, 65%, 51%);
--Bright-Cyan: hsl(192, 70%, 51%);
--Grayish-Blue: hsl(233, 8%, 62%);
--Light-Grayish-Blue: hsl(220, 16%, 96%);
--Very-Light-Gray: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%);
}

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

article img
{
    width: 100%;
}

ul
{
    padding: 0;
    margin: 0;
}

li
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 0rem 1.5rem 0rem;
    position: fixed;
    z-index: 100;
    top: 0rem;
    background-color: var(--White);
}   

.nav-content
{
    transform: translateY(-20px);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 6rem 1rem 0rem 1rem;
    background-color: var(--White);
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    transition: all .3s ease-in-out;
}

.nav-content.active
{
    transform: translateY(0px);
    opacity: 1;
}

.nav-content a
{
    text-decoration: none;
    color: var(--Dark-Blue);
    font-weight: 400;
    font-size: 18px;
}

.nav-content li 
{
    padding: .75rem;
}

nav button
{
    padding: 0;
    background: none;
    border: none;
}

nav .request-invite
{
    display: none;
}

.nav-logo
{
    margin-left: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-hamburger
{
    background-image: url(images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 100%;
    margin-right: 1.5rem;
}

.nav-hamburger.close
{
    background-image: url(images/icon-close.svg);
}

.mockups
{
    background-image: url(images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mockups img 
{
    width: 100%;
}

.content
{
    text-align: center;
    padding: 0rem 1.25rem 4rem 1.25rem;
}

.container
{
    text-align: center;
    padding: 4rem 1.25rem 4rem 1.25rem;
}

h1
{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 1rem;
}

h2
{
    font-size: 32px;
    font-weight: 400;
    margin: 0 0 1rem 0;
}

h3
{
    font-size: 20px;
    font-weight: 400;      
    margin-bottom: 1rem;
}

p
{
    margin: 0 0 2rem 0;
    padding: 0;
}

.mockups
{
    position: relative;
}

.section-title
{
    color: var(--Dark-Blue);
}

.section-subtitle
{
    color: var(--Grayish-Blue);
    font-size: 14px;
}

.request-invite
{
    background: linear-gradient(90deg ,var(--Lime-Green), var(--Bright-Cyan));
    border: none;
    border-radius: 50px;
    padding: .9rem 2rem .9rem 2rem;
    color: var(--White);
    font-weight: 700;
}

#section2
{
    background-color: var(--Very-Light-Gray);
}

.about-subtitle
{
    font-size: 15px;
}

#section3
{
    background-color: var(--Light-Grayish-Blue);
}

article
{
    background-color: var(--White);
    border-radius: 10px;
    margin: 2rem 0 2rem 0;
}

article img 
{
    border-radius: 10px 10px 0 0;
}

.article-text
{
    text-align: left;
    padding: 0 2rem .5rem 2rem;
}

.article-autor h6
{
    color: var(--Grayish-Blue);
    opacity: .9;
    margin-bottom: 1rem;
    font-weight: 400;
}

.article-title h5
{
    color: var(--Dark-Blue);
    margin: 1rem 0 1rem 0;
    font-weight: 600;
    font-size: 16px;
}

/* Footer */
footer
{
    background-color: var(--Dark-Blue);
}

.footer-container
{
    padding: 2rem 6rem 3rem 6rem;
    text-align: center;
}

.footer-logo
{
    filter: invert(1);
}

.socials
{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.footer-nav a
{
    text-decoration: none;
    color: var(--Light-Grayish-Blue);
    font-weight: 300;
    font-size: 16px;
    opacity: .8;
}

.footer-nav
{
    padding: 1.5rem 0 1.5rem 0;
}

.footer-nav li 
{
    padding: .5rem;
}

/* Media Queries */
@media (min-width: 768px)
{
    nav 
    {
        display: flex;
        width: 100%;
        padding: 1rem 0rem 1rem 0rem;
        position: fixed;
        z-index: 100;
        top: 0rem;
        background-color: var(--White);
        align-items: center;
    }
    nav .request-invite
    {
        display: block;
        margin-right: 5rem;
    }
    .nav-hamburger
    {
        display: none;
    }
    .nav-content
    {
        transform: translateY(0px);
        opacity: .7;
        position: relative;
        text-align: center;
        margin: 0;
        padding: 0;
        border-radius: none;
        box-shadow: none;
    }
    .nav-content ul 
    {
        display: flex;
    }
    .nav-content li
    {
        padding: 0;
    }
    .nav-content a
    {
        color: var(--Grayish-Blue);
        font-size: 12px;
        padding: 0 .5rem;
    }
    .nav-logo
    {
        margin-left: 5rem;
    }

    #section1
    {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
    }
    .content
    {
        padding: 0rem 5rem 0rem 5rem;
        text-align: left;
    }  
    .container
    {
        text-align: left;
        padding: 4rem 5rem 4rem 5rem;
    }
    .mockups
    {
        order: 1;
        background-image: url(images/bg-intro-desktop.svg);
    }
    .mockups img 
    {
        transform: translateY(60px);
    }
    h1
    {
        font-size: 25px;
    }
    #section1 .section-subtitle
    {
        font-size: 12px;
    }

    .abouts
    {
        display: flex;
    }
    .articles
    {
        display: flex;
    }

    .footer-container
    {
        display: flex;
    }

    .right-footer
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .footer-nav
    {
        padding: 0;
    }

    .footer-nav ul 
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .footer-content
    {
        display: flex;
        flex-direction: column;
    }
    .footer-logo
    {
        padding: 8px;
    }
    .socials
    {
        margin-top: auto;
    }
    footer .request-invite
    {
        margin-bottom: auto;
        margin-top: auto;
    }
    .about-element
    {
        margin-right: 3rem;
    }
    .about-element:last-of-type
    {
        margin-right: 0;
    }
    article
    {
        margin-right: 1rem;
    }
    article:last-of-type
    {
        margin-right: 0rem;
    }
    article img 
    {
        height: 15vw;
    }
    .article-text
    {
        padding: 0 1rem .5rem 1rem;
    }
    .article-autor h6
    {
        font-size: 10px;
    } 
    .article-title h5
    {
        font-size: 12px;
    }
    .article-subtitle p 
    {
        margin-bottom: 1rem;
        font-size: 10px;
    }
    
    .footer-nav a 
    {
        font-size: 12px;
        margin-left: 1rem;
    }
    .footer-nav
    {
        text-align: left;
    }
}

@media (min-width: 1024px)
{
    .content h1
    {
        font-size: 40px;
    }
    .content p
    {
        font-size: 14px;
    }
    .article-autor h6
    {
        font-size: 12px;
    } 
    .article-title h5
    {
        font-size: 14px;
    }
    .article-subtitle p 
    {
        margin-bottom: 1rem;
        font-size: 12px;
    }

    .footer-nav a 
    {
        font-size: 14px;
        margin-left: 5rem;
    }   
    .mockups
    {
        display: flex;
        justify-content: center;
        background-size: cover;
        background-position: 200px 0;
    }
    .mockups img
    {
        height: 40vw;
        width: 32.5vw;
        transform: translate(25%, 60px);
    }
}

@media (min-width: 1440px)
{
    .nav-logo
    {
        margin-left: 8rem;
    }
    nav .request-invite
    {
        margin-right: 8rem;
    }
    .content
    {
        padding: 0rem 8rem 0rem 8rem;
        text-align: left;
    }  
    .container
    {
        text-align: left;
        padding: 4rem 8rem 4rem 8rem;
    }
    .content h1
    {
        font-size: 60px;
    }
    .content p
    {
        font-size: 18px;
    }
    article
    {
        margin-right: 2rem;
    }
    .article-text
    {
        padding: 0 2rem .5rem 2rem;
    }
    .article-autor h6
    {
        font-size: 12px;
    } 
    .article-title h5
    {
        font-size: 20px;
    }
    .article-subtitle p 
    {
        margin-bottom: 1rem;
        font-size: 16px;
    }

    .footer-nav a 
    {
        font-size: 14px;
        margin-left: 8rem;
    }   
    .footer-container
    {
    padding: 2rem 8rem 3rem 8rem;
    }
    article img 
    {
        height: 13vw;
    }
    .mockups img
    {
        transform: translate(25%, 60px);
    }
}
